@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #fff;
    --font-color: #000;
    --bg-color-button: rgb(200, 200, 200);
    --bg-color-button-hover: rgb(0, 0, 0);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #111;
        --font-color: #fff;
        --bg-color-button: rgb(50, 50, 50);
        --bg-color-button-hover: rgb(255, 255, 255);
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
}

.page {
    width: 100%;
}

.container {
    height: 100vh;
}

.header-stylebox {
    position: fixed;
    margin-top: 20px;

    margin-left: 24%;

    z-index: 1;
}

.header-stylebox .header-card ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;

    align-items: center;

    gap: 50px;
}

.header-stylebox .header-card ul li {
    width: 130px;
    transition: .5s ease-in-out;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;

    text-align: center;
}

.header-stylebox .header-card ul li a {
    text-decoration: none;
    color: var(--font-color);
}

.header-stylebox .header-card ul li:hover {
    text-decoration: underline;
    color: var(--font-color);

    transform: translateY(-2px);
}

.header-stylebox ul img {
    height: 75px;
    border-radius: 50px;
}

/**/

.home_about {
    justify-content: center;
    text-align: center;

    transform: translateY(275px);
}

.home_about .home_about_title p {
    color: var(--font-color);
}

.home_about .home_about_title h2 {
    font-size: 3em;
    transform: translateY(-15px);

    color: var(--font-color);
}

.home_about .home_about_content p {
    color: var(--font-color);
}

.home_about .home_about_content a button {

    width: 150px;
    height: 40px;

    border-radius: 20px;
    border: 0px;

    background-color: var(--bg-color-button);
    color: var(--font-color);

    transform: translateY(30px);
    transition: .5s ease-in-out;
}

.home_about .home_about_content a button:hover {
    cursor: pointer;
    background-color: var(--bg-color-button-hover);
    color: var(--bg-color)
}

/* */

.about {
    justify-content: center;
    text-align: center;

    width: 700px;

    left: 50%;
    transform: translate(58%, 175px);
}

.about a ion-icon {
    width: 75px;
    height: 75px;

    margin-bottom: 20px;

    color: var(--font-color);

    transition: .5s ease-in-out;
}

.about a ion-icon:hover {
    width: 90px;
    height: 90px;

    margin-bottom: 5px;

    color: var(--font-color);
}

#container_2 .about a:nth-child(1) ion-icon {
    visibility: hidden;

    width: 75px;
    height: 75px;

    margin-bottom: 20px;

    color: var(--font-color);
}

.about .about_separator {
    width: 100%;
    height: 2px;

    color: var(--font-color);
    background-color: var(--font-color);

    margin-bottom: 20px;

    opacity: .1;
}

.about .about_content p {
    color: var(--font-color);
    width: 700px;
    height: 250px;
}

.about .about_title h1 {
    color: var(--font-color);
}

.about .about_content a ion-icon {
    width: 75px;
    height: 75px;

    color: var(--font-color);

    transition: .5s ease-in-out;
}

.about .about_content a ion-icon:hover {
    width: 90px;
    height: 90px;

    color: var(--font-color);
}

/* */

.competences {
    justify-content: center;
    text-align: center;

    width: 700px;

    left: 50%;
    transform: translate(58%, 175px);
}

.competences .competences_title {
    color: var(--font-color);
}

.competences .competences_separator {
    width: 100%;
    height: 2px;

    color: var(--font-color);
    background-color: var(--font-color);

    margin-bottom: 20px;

    opacity: .1;
}

.competences .competences_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 60px;
}

.competences .competences_content img {
    width: 100px;
    height: 100px;
}

.competences .competences_content h4 {
    color: var(--font-color);;
    transform: scale(1.2) translateY(10px);
}

.competences .competences_content p {
    color: var(--font-color);
    opacity: .5;
    transform: scale(0.8) translateY(10px);
}

/* */

.projets {
    justify-content: center;
    text-align: center;

    width: 700px;

    left: 50%;
    transform: translate(58%, 175px);
}

.projets .projets_title h1 {
    color: var(--font-color);
}

.projets .projets_separator {
    width: 100%;
    height: 2px;

    color: var(--font-color);
    background-color: var(--font-color);

    margin-bottom: 20px;

    opacity: .1;
}

.projets .projets_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}

.projets .projets_content img {
    width: 300px;
    height: 200px;
}

.projets .projets_content img:hover {
    cursor: pointer;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}


.projets .projets_content h4 {
    transform: scale(1.2) translateY(10px);
    color: var(--font-color);
}

.projets .projets_content p {
    opacity: .5;
    transform: scale(0.8) translateY(10px);
    color: var(--font-color);
}

/* */

footer {
    display: flex;
    flex-direction: column-reverse;
    height: 50vh;

    padding: 20px 400px;
}

.footer_separator {
    width: 100%;
    height: 2px;

    color: var(--font-color);
    background-color: var(--font-color);
    margin-bottom: 20px;

    opacity: .1;
}

.footer_line {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.footer_line a {
    color: var(--font-color);
    text-decoration: none;
}

.footer_line p {
    color: var(--font-color);
    text-decoration: none;
}